!!!
%html{"ng-app" => "HackathonApp"}/
%header
.container
  .title
    %h1 Hackathon Rome
  .container
    .col-md-10
      #project.h1 Projects
    .col-md-2
      #project.h1 Score
  .border
%main
  .container
    .row
    - @projects.each do |project|
      #title.col-md-3
        .h3= project.name
      #description.col-md-5
        .article
        %p= project.description
      .col-md-3
        %article.btn-container
          %div{"ng-controller" => "ModalCtrl"}
          %script{:id => "myModalContent.html", :type => "text/ng-template"}
            %form{:name => "myForm", "ng-submit" => "submit()"}
              %input{"ng-model" => "myInputValue", :type => "text"}
                %button{:type => "submit"} Submit
          %a.btn.btn-danger.btn-lg{"ng-click" => "open()"} Vote!
          %div{"ng-show" => "selected"} Selection from a modal: {{ selected }}
%footer

