!!!
%html{"ng-app" => "HackathonApp"}/
%header
.container
  .title
    %h1 Hackathon Rome
  .container
    #project.h1 Projects
  .border
%main{"ng-controller" => "MainCtrl"}
  .container
    .row{"ng-repeat" => "project in projects", "ng-controller" => "ProjectCtrl"}
      .col-md-2
        .h2 {{project.name}}
      .col-md-5
        .h2 {{project.description}}
      .col-md-5
        %div{"ng-if" => "! isVoting"}
          %button.btn.btn-link{"ng-click" => "vote(project.id)"} vote
        %div{ "ng-if" => "isVoting"}
          %input{:type => "text", :placeholder => "Your token", "ng-model" => "token" }
          %button.btn.btn-link{"ng-submit" => "submitVote()"} vote
          %button.btn.btn-link{"ng-click" => "cancel()"} cancel
%footer
