%header
  .title
    %h1 Hackathon Rome
%main
  .container
    - @projects.each do |project|
      .col-md-2
        .h3= project.name
      .col-md-8
        .h3= project.description
      .col-md-2
        .h3 Vote
%footer
