!!!
%html
%header
.container
  .title
    %h1 Hackathon Rome
  .border
%main
  .container
    - @projects.each do |project|
      .row
        .col-md-2
          .h2= project.name
        .col-md-5
          .h3= project.description
        .col-md-5
          %button.btn.btn-link{:href => "#"} vote
%footer

