!!!
%html
%header
.container
  %nav.navbar.navbar-default.navbar-fixed-top.main
    .title
      %h1*<:)> Xmas Rome Hackathon
%main
  .container.projects-container
    - @projects.each do |project|
      .row
        .col-md-3
          .project-title= project.name
        .col-md-7
          .project-description= project.description
        .col-md-2.vote-button
          %a.button.btn.btn-link{:href => "#vote", :name => "vote", :rel => "leanModal"}
            vote
          #vote
            %form{:action => vote_project_path(project), :method => "post", :name => "vote"}
              %label{:for => "token"} Your token please:
              %input#token{:token => "name", :type => "text"}/
              %a.button.btn.btn-link vote
              %a.button.btn.btn-link cancel
      .border
%footer
