!!!
%html
%header
.container
  .title
    %h1 Hackathon Rome
  .container
    #project.h1 Projects
  .border
%main
- @projects.each do |project|
  .container
    .row
      .col-md-2
        .h2= project.name
      #description.col-md-5
        .h2= project.description
      .col-md-5
        %button.btn.btn-link{:href => "#", :onclick => "alert('Hello world!'); return false;"} vote
%footer

