!!!
%html{"ng-app" => "HackathonApp"}/
%header
.container
  .title
    %h1 Hackathon Rome
  .container
    .col-md-10
      #project.h1 Projects
    .col-md-2
      #project.h1 Score
  .border
%main{"ng-controller" => "MainCtrl"}
  <pre>
  {{projects | json}}
  </pre>
  .container
    .row{"ng-repeat" => "project in projects", "ng-controller" => "ProjectCtrl"}
      %div{"ng-if" => "! isVoting"}
        %button.btn.btn-link{"ng-click" => "vote(project.id)"} vote
      %div{"ng-if" => "isVoting"}
        %input{"ng-model" => "token"}
        %button.btn.btn-link{"ng-click" => "submitVote(token)"} vote
        %button.btn.btn-link{"ng-click" => "cancel()"} cancel
%footer

