!!!
%html
%header
.container
  .title
    %h1 Hackathon Rome
  .border
%main
  .container
    - @projects.each do |project|
      .row
        .col-md-2
          .h3= project.name
        .col-md-5
          .h3= project.description
        .col-md-5
          %a.button.btn.btn-link{:href => "#test", :name => "test", :rel => "leanModal"}
            vote
          #test
            %form{:action => "index.html.haml", :method => "post", :name => "form"}
              %label{:for => "token"} Token:
              %input#token{:name => "token", :tabindex => "1", :type => "text"}/
      .border
%footer
