.row-fluid
  .form
    = simple_form_for @project, url: {action: "create"}, :html => {:class => "form-vertical"} do |f|
      = f.input :name, as: :text, input_html: { cols: 40 }
      = f.input :description, as: :text, input_html: { cols: 50, rows: 3 }
      = f.button :submit, :class => "btn btn-primary"
