@import url(http://fonts.googleapis.com/css?family=Merriweather:300);

/* General settings*/

body {
  font-family: 'proxima-nova';
  padding: 30px 0;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'proxima-nova';
}

/* Main */

.main {
  background-color: #fe504f;
  padding-bottom: 25px;
}
.content h3{
  display: inline-block;
}
.title h1{
  text-align: center;
  color: #fff;
  font-family: "Merriweather", serif;
  padding-top: 10px;
}

.project {
  display: inline;
}

.border {
  border: 1px solid #3e3e3e;
  margin-bottom: 40px;
  margin-top: 30px;
}

.projects-container {
  margin-top: 150px;
}
/*Buttons and forms*/

.btn-container {
  display: block;
  float: left;
  width: 100%;
  height: 60px;
  margin-top: 0px;
 }

a.btn, button.btn {
  color: #fe504f;
  background-color: white;
  border: 1px solid #fe504f;
  padding: 10px 30px;
  margin-top: 5px;
  border-radius: 0;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1px;
  text-decoration: none;
}

.btn-link:hover {
  text-decoration: none;
  color: #fff;
  background-color: #fe504f;

}
.form {
  text-align: center;
  display: inline-block;
}

#lean_overlay {
  position: fixed;
  z-index: 10000;
  top: 0px;
  left: 0px;
  height:100%;
  width:100%;
  background: #000;
  display: none;
}
.vote {
  text-align: center;
  width: 700px;
  display:none;
  background: #FFF;
  border: 1px solid #fe504f;
  color: #fe504f;
  padding-bottom: 10px;
}

.project-title{
  font-weight: 500;
  font-size: 20px;
}

.project-description{
  font-weight: 100;
  font-size: 20px;
}

.vote-button {
  margin-top: -10px;
}

.scores {
  color: #fe504f;
  font-size: 24px;
}


.alert {
  padding-top: 80px;
  border: 1px solid transparent;
  border-radius: 4px;
  max-width: 400px;
  height: 30px;
  margin-left: 600px;
  text-align: center;
}

.alert-success {
  background-color: #fff;
  border-color: #fe504f;
  color: #fe504f;
  padding-bottom: 50px;
  font-family: 'proxima-nova';
  font-size: 18px;
}

.token {
  color: #fe504f;

  width: 600px;
  margin: 0px auto;
}
.token h1 {
  font-size: 50px;
}
