@import url(http://fonts.googleapis.com/css?family=Merriweather:300);

/* General settings*/

body {
  font-family: 'proxima-nova';
  padding: 30px 0;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'proxima-nova';
}

/* Main */

.container {
  margin-top: 10px;
}
.content h3{
  display: inline-block;
}
.title h1{
  text-align: center;
  color: #fe504f;
  font-family: "Merriweather", serif;
}

.project {
  display: inline;
}

#title {
  text-align: left;

  text-transform: uppercase;
}

#description {
  text-align: left;

}

#project {
  text-align: left;
  font-family: "Merriweather", serif;
  font-size: 24px;
  color: #fe504f;
  padding-top: 20px;
  padding-bottom: 30px;
}

.border {
  border: 1px solid #fe504f;
  margin-bottom: 40px;
}
/*Buttons and forms*/

.btn-container {
  display: block;
  float: left;
  width: 100%;
  height: 60px;
  margin-top: 0px;
  margin-bottom: 30px; }

a.btn, button.btn {
  color: #fe504f;
  background-color: white;
  border: 1px solid #fe504f;
  padding: 15px 40px;
  border-radius: 0;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1px;
  -webkit-transition: all 0.1s cubic-bezier(0, 0, 0.25, 1);
  -moz-transition: all 0.1s cubic-bezier(0, 0, 0.25, 1);
  -o-transition: all 0.1s cubic-bezier(0, 0, 0.25, 1);
  -ms-transition: all 0.1s linear;
  transition: all 0.1s cubic-bezier(0, 0, 0.25, 1);
  -moz-box-shadow: 4px 4px 0px 0px #999999;
  -webkit-box-shadow: 4px 4px 0px 0px #999999;
  box-shadow: 3px 3px 0px 0px #fe504f; }
a:hover.btn, button:hover.btn {
  background-color: white;
  color: #fe504f;
  border: 1px solid #fe504f;
  margin: 3px 0 0 3px;
  -moz-box-shadow: 0 0 0 0 white;
  -webkit-box-shadow: 0 0 0 0 white;
  box-shadow: 0 0 0 0 white; }


#form {
  text-align: center;
}
